In [1]:
# Base libraries
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import BASE_COLORS
%matplotlib inline

# sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor

In [2]:
customer_data = pd.read_excel('Telco_customer_churn.xlsx') 
customer_data.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

## Data Cleaning and Data Wrangling

In [3]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [4]:
customer_data.shape

(7043, 33)

In [5]:
#Total charges data type is object. changing it to float


customer_data["Total Charges"] = customer_data["Total Charges"].apply(pd.to_numeric, errors="coerce")

In [6]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7032 non-null   float64
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(4), int64(6), object(23)
memory usage: 1.8+ MB

In [7]:
# checking for NaN values. No null values except In column 'Churn Reason'

customer_data.isnull().sum()

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip Code                0
Lat Long                0
Latitude                0
Longitude               0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges          11
Churn Label             0
Churn Value             0
Churn Score             0
CLTV                    0
Churn Reason         5174
dtype: int64

In [8]:
customer_data.groupby(['Churn Label'])['CustomerID'].count()

Churn Label
No     5174
Yes    1869
Name: CustomerID, dtype: int64

In [9]:
# Column 'Churn Reason' has 5174 null values because those are thze customers who did not churn

In [10]:
#filling the null values
customer_data.fillna("Existing Customer", inplace=True)

In [11]:
customer_data.isnull().sum()

CustomerID           0
Count                0
Country              0
State                0
City                 0
Zip Code             0
Lat Long             0
Latitude             0
Longitude            0
Gender               0
Senior Citizen       0
Partner              0
Dependents           0
Tenure Months        0
Phone Service        0
Multiple Lines       0
Internet Service     0
Online Security      0
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      0
Total Charges        0
Churn Label          0
Churn Value          0
Churn Score          0
CLTV                 0
Churn Reason         0
dtype: int64

In [12]:
#checking for duplicates in the column 'Customer ID'. no duplicates found, so we have 7043 unique customer entries.
print(customer_data['CustomerID'].duplicated().sum())

0

In [13]:
round(customer_data.isna().sum()/len(customer_data),4)*100  # shows the percentage of null values in a column
nulls_df = pd.DataFrame(round(customer_data.isna().sum()/len(customer_data),4)*100)
nulls_df
nulls_df = nulls_df.reset_index()
nulls_df
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

          header_name  percent_nulls
0          CustomerID            0.0
1               Count            0.0
2             Country            0.0
3               State            0.0
4                City            0.0
5            Zip Code            0.0
6            Lat Long            0.0
7            Latitude            0.0
8           Longitude            0.0
9              Gender            0.0
10     Senior Citizen            0.0
11            Partner            0.0
12         Dependents            0.0
13      Tenure Months            0.0
14      Phone Service            0.0
15     Multiple Lines            0.0
16   Internet Service            0.0
17    Online Security            0.0
18      Online Backup            0.0
19  Device Protection            0.0
20       Tech Support            0.0
21       Streaming TV            0.0
22   Streaming Movies            0.0
23           Contract            0.0
24  Paperless Billing            0.0
25     Payment Method            0.0
26    Monthly Charges            0.0
27      Total Charges            0.0
28        Churn Label            0.0
29        Churn Value            0.0
30        Churn Score            0.0
31               CLTV            0.0
32       Churn Reason            0.0

In [14]:
# dropping the columns 'Lat Long', 'Latitude', and 'Longitute' because they are clearly not relevant for our analysis.

customer_data =  customer_data.drop(['Lat Long', 'Latitude','Longitude'], axis=1)

In [15]:
customer_data.shape

(7043, 30)

In [16]:
#snake column names
cols = []
for i in range(len(customer_data.columns)):
    cols.append(customer_data.columns[i].lower().replace(' ', '_'))
customer_data.columns = cols

print(customer_data.columns)

Index(['customerid', 'count', 'country', 'state', 'city', 'zip_code', 'gender',
       'senior_citizen', 'partner', 'dependents', 'tenure_months',
       'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn_label',
       'churn_value', 'churn_score', 'cltv', 'churn_reason'],
      dtype='object')

In [17]:
#checking indivudual columns to decide whether to keep or drop

In [18]:
customer_data['count'].value_counts()

1    7043
Name: count, dtype: int64

In [19]:
customer_data['country'].value_counts()

United States    7043
Name: country, dtype: int64

In [20]:
customer_data['state'].value_counts()

California    7043
Name: state, dtype: int64

In [21]:
customer_data['city'].value_counts()

Los Angeles       305
San Diego         150
San Jose          112
Sacramento        108
San Francisco     104
                 ...
Healdsburg          4
Jenner              4
Philo               4
Point Arena         4
Olympic Valley      4
Name: city, Length: 1129, dtype: int64

In [22]:
customer_data['paperless_billing'].value_counts()

Yes    4171
No     2872
Name: paperless_billing, dtype: int64

In [23]:
customer_data['contract'].value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: contract, dtype: int64

In [24]:
customer_data['churn_score'].value_counts()

80    151
71    148
77    145
67    143
76    141
     ...
88     33
9       3
8       2
7       2
5       1
Name: churn_score, Length: 85, dtype: int64

In [25]:
#dropping more irrelevant columns customerid,count, country and state.
customer_data =  customer_data.drop(['customerid', 'count', 'country', 'state',], axis=1)

In [26]:
print(customer_data.columns)

Index(['city', 'zip_code', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure_months', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn_label',
       'churn_value', 'churn_score', 'cltv', 'churn_reason'],
      dtype='object')

In [27]:
customer_data.head()

,city,zip_code,gender,senior_citizen,partner,dependents,tenure_months,phone_service,multiple_lines,internet_service,...,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv,churn_reason
0,Los Angeles,90003,Male,No,No,No,2,Yes,No,DSL,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,Los Angeles,90005,Female,No,No,Yes,2,Yes,No,Fiber optic,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,Los Angeles,90006,Female,No,No,Yes,8,Yes,Yes,Fiber optic,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,Los Angeles,90010,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,Los Angeles,90015,Male,No,No,Yes,49,Yes,Yes,Fiber optic,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [28]:
customer_data['payment_method'].value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_method, dtype: int64

In [29]:
customer_data['tenure_months'].value_counts()

1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure_months, Length: 73, dtype: int64

In [30]:
#keeping all the remaining columns for exploratory data analysis

In [31]:
#Lets explore the column churn_reason
customer_data['churn_reason'].value_counts()

Existing Customer                            5174
Attitude of support person                    192
Competitor offered higher download speeds     189
Competitor offered more data                  162
Don't know                                    154
Competitor made better offer                  140
Attitude of service provider                  135
Competitor had better devices                 130
Network reliability                           103
Product dissatisfaction                       102
Price too high                                 98
Service dissatisfaction                        89
Lack of self-service on Website                88
Extra data charges                             57
Moved                                          53
Lack of affordable download/upload speed       44
Long distance charges                          44
Limited range of services                      44
Poor expertise of phone support                20
Poor expertise of online support               19
Deceased                                        6
Name: churn_reason, dtype: int64

In [ ]:
# the churn reasons are categorised extensively. this is not ideal for EDA. decided to reduce the categories and put the 'churn_reason' values into broader categories for simplification.

In [34]:

reason_mapping = {
    'Existing Customer': 'Existing Customer',
    'Attitude of support person': 'Service Dissatisfaction',
    'Competitor offered higher download speeds': 'Competitor',
    'Competitor offered more data': 'Competitor',
    "Don't know": "Don't Know",
    'Competitor made better offer': 'Competitor',
    'Attitude of service provider': 'Service Dissatisfaction',
    'Competitor had better devices': 'Competitor',
    'Network reliability': 'Existing Customer',
    'Product dissatisfaction': 'Product Dissatisfaction',
    'Price too high': 'Price Dissatisfaction',
    'Service dissatisfaction': 'Service Dissatisfaction',
    'Lack of self-service on Website': 'Service Dissatisfaction',
    'Extra data charges': 'Price Dissatisfaction',
    'Moved': 'Moved',
    'Lack of affordable download/upload speed': 'Price Dissatisfaction',
    'Long distance charges': 'Price Dissatisfaction',
    'Limited range of services': 'Service Dissatisfaction',
    'Poor expertise of phone support': 'Service Dissatisfaction',
    'Poor expertise of online support': 'Service Dissatisfaction',
    'Deceased': 'Deceased'
}

customer_data['churn_reason_category'] = customer_data['churn_reason'].replace(reason_mapping)

In [35]:
customer_data.head()

,city,zip_code,gender,senior_citizen,partner,dependents,tenure_months,phone_service,multiple_lines,internet_service,...,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv,churn_reason,churn_reason_category
0,Los Angeles,90003,Male,No,No,No,2,Yes,No,DSL,...,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer,Competitor
1,Los Angeles,90005,Female,No,No,Yes,2,Yes,No,Fiber optic,...,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved,Moved
2,Los Angeles,90006,Female,No,No,Yes,8,Yes,Yes,Fiber optic,...,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved,Moved
3,Los Angeles,90010,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,...,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved,Moved
4,Los Angeles,90015,Male,No,No,Yes,49,Yes,Yes,Fiber optic,...,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices,Competitor

In [36]:
customer_data['churn_reason_category'].value_counts()

Existing Customer          5277
Competitor                  621
Service Dissatisfaction     587
Price Dissatisfaction       243
Don't Know                  154
Product Dissatisfaction     102
Moved                        53
Deceased                      6
Name: churn_reason_category, dtype: int64

In [32]:
# for column in customer_data.columns:
#     if customer_data[column].dtype == 'object':
#         plt.figure(figsize=(10, 6))
#         sns.countplot(x=column, data=customer_data, order=customer_data[column].value_counts().index)
#         plt.title(f'Unique Values Count for {column}')
#         plt.show()

In [33]:
# # Target column is churn_label. Plotting the column to get a overview of the data in the column
# sns.countplot(x='churn_label', data=customer_data)